.s3_drimage {
  height: inherit;
  line-height: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.s3_drimage img {
  width: 100%;
  height: 100%;
}

.s3_drimage.is-background-image {
  background-repeat: no-repeat;
}

.s3_drimage.is-background-image > img,
.s3_drimage.is-background-image > a > img,
.s3_drimage.is-background-image > picture,
.s3_drimage.is-background-image > picture > img,
.s3_drimage.is-background-image > a > picture,
.s3_drimage.is-background-image > a > picture > img {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  margin-top: -1px;
}
